.media {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 5px;
  margin: 5px 0;
  background-color: #252424;
  border-radius: 10px;
  position: relative;
  font-family: Georgia, "Times New Roman", serif, "Courier New", Courier;
}

.media:hover {
  background-color: #0590c1;
  color: black;
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
@media (max-width: 550px) {
  .media {
    width: 80%;
  }
  .media:hover {
    transform: none;
  }
}

.poster {
  border-radius: 2.5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-bottom: 3px;
}
