@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #000000;
  font-family: "Cinzel Decorative", "Segoe UI", Tahoma, Verdana,
    "Times New Roman";
  font-size: 5vw;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
